{% extends 'base.html' %}


{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hii,this is lakhan.</h1>
    {{hii_Lakhan}}
    <form action = "add" method = "POST">

    {% csrf_token %}

    Enter the val1:<input type ="text" name="val1"><br>
    Enter the val2:<input type ="text" name ="val2"><br>
    Enter the val3:<input type ="text" name ="val3"><br>
    <input type ="submit">
        
    </form>
</body>
</html>

{% endblock %}